<!-- 
  -- index.php - useradmin-angular
  -- the application view page, containing sections to add and list users
  -- 
  -- Aziz | 21 Sep 2015
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>User Administration</title>
        <link rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="js/script.js"></script>
        
        <!-- AngularJS CDN -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>-->
        
        <!-- AngularJS UI-Router CDN --> 
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="js/angular-app.js"></script>
        
    </head>
    <body ng-app="useradmin-angular">
        
        <div>
            <div>
                <!-- this is where the active view will be placed, please note 
                that we have removed ng-controller="MainCtrl" from body tag
                it used to map to the controller $scope -->
                <ui-view></ui-view>
            </div>
        </div>
        
        <script type="text/ng-template" id="/home.html">
            <div class="container">
                <div class="header">
                    <img src="img/user.png" /> User Administration
                    <!--<img src="img/useradmin.jpg" /> User Administration-->
                </div><!-- header -->
                <!--<h1 class="main_title">Using PHP/MySQL and Ajax</h1>-->
                <div class="content">
                    <fieldset class="field_container add">
                        <legend> <img src="img/plus.png"> Add User </legend>
                        <form>
                            <input type="text" id="full_name" class="frm_input" placeholder="Full name">
                            <input type="text" id="email" class="frm_input" placeholder="Email">
                            <input type="text" id="age" class="frm_input" placeholder="Age">
                            <input type="button" class="frm_button" value="Add" onclick="add_user()">
                        </form>
                    </fieldset>
                    <fieldset class="field_container list">
                        <legend> <img src="img/list.png"> List Users </legend>
                
                
                        <div style="padding: 1em; text-align: right;">
                            <select ng-model="itemsPerPage" class="frm_input">
                                <option>1</option>
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                            <input class="frm_input" type="text" placeholder="Search" ng-model="search">
                        </div>

                        <table class="table_list" cellspacing="2" cellpadding="0">
                            <tr class="bg_h">
                                <th>Full name</th>
                                <th>Email</th>
                                <th>Age</th>
                                <th>Options</th>
                            </tr>
                    
                            <!-- please note that only angularjs version 1.4 and above offer limitTo: limit: begin,
                                and in the context of 'limitTo: limit: begin', 'begin' actually refers to the array index, 
                                hence for first page you need to start at '0' -->
                            <!--tr ng-repeat="post in posts | filter: search | limitTo: itemsPerPage : currentPage-1 * itemsPerPage"-->
                            
                            <!-- so here we are simply using our own custom filter instead -->
                            <tr ng-repeat="post in posts | filter: search | limit: currentPage : itemsPerPage">
                                <td>{{ post.full_name }}</td>
                                <td>{{ post.email }}</td>
                                <td>{{ post.age }}</td>
                                <td><a href="#" class="delete_m" onclick=""><img src="img/delete.png"> Delete</a></td>
                            </tr>
                            <tr>
                                <div pagination="" page="currentPage" on-select-page="setPage( page )" boundary-links="true" total-items="filteredItems" items-per-page="itemsPerPage" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div-->
                            </tr>
                        </table>

                    </fieldset>
                </div><!-- content -->    
                <div class="footer">
                    powered by <a href="https://twitter.com/sabooraziz">@sabooraziz</a>
                </div><!-- footer -->
            </div><!-- container -->
        </script>
        
    </body>